*.suo
*.cache
TemporaryGeneratedFile_*.cs
/**/obj
/**/bin
*.sln.DotSettings.user
*.user
/Package
/Nuget/lib
TestResult.xml
aqlaserializer.*.nupkg
assorted/SilverlightExtended_Web/build
.vs
artifacts
*.user
TestFiles/
*.suo
src/Tools/PEVerify.*
packages/
/src/Aqla.PrivateIssues.Tests
*.snk
*.publicKey
*.NoCommit.*
*.pubxml
del.me
_ReSharper.Caches/
BenchmarkDotNet.Artifacts/
filedata.bin
*.binlog
src/VBTest/*
src/Benchmark/DalSerializer.dll
.nupkgs/*
.idea/
profile.arm.json
.DS_Store
protogen*.zip
