*.suo
*.cache
TemporaryGeneratedFile_*.cs
/**/obj
/**/bin
/Proto 2012.sln.DotSettings.user
*.user
/Package
/Nuget/lib
TestResult.xml
aqlaserializer.*.nupkg
protobuf-net-mono/docs
SilverlightExtended_Web/build
.vs
artifacts
*.user
TestFiles/
*.suo
Tools/PEVerify.*
packages/
